
<ul class="list-group">

        <% players.forEach( (player, key) => {   %>
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5>
                            <%= player.playerName %>
                        </h5>
                        <% if (player.alive) { %>
                            <span class="badge rounded-pill bg-success">Vivant</span>
                        <% } else { %>
                            <span class="badge rounded-pill bg-danger">Mort</span>
                        <% } %>
                    </div>


                    <% if(!admin) {%>
                        <div>
                            <a href="/remote/resurect/<%= key %>" class="btn btn-success">😇</a>
                            <a href="/remote/kill/<%= key %>" class="btn btn-danger">💀</a>
                        </div>
                    <% } else { %>
                        <div>
                            <a href="/remote/delete/<%= key %>" class="btn btn-danger">supprimer️</a>
                        </div>
                    <% } %>


                </div>
            </li>
        <% }) %>
        </ul>
